<app-topbar></app-topbar>

<div class="timer">
    <div class="timer__container">
        <div class="timer__time--container">
            <span class="timer__time">{{ time }}</span>
            <div class="timer__buttons">
                <div class="timer__buttons--item timer__buttons--item-margin" [ngClass]="{'timer__buttons--item--is-paused': isPaused}" (click)="togglePause()">{{ isPaused ? '||' : '>' }}</div>
                <div class="timer__buttons--item timer__buttons--item--is-stop" (click)="stopTimer()">X</div>
            </div>
        </div>
        <div class="timer-separator"></div>

        <div class="timer__form">
            <div class="timer__form--row">
                <label for="time" class="label timer__form--row-left">
                    Time
                    <input id="time" [(ngModel)]="timeInput" maxlength="8" (ngModelChange)="typeTime()" type="text" class="timer__form--input" />
                </label>
                <label for="output" class="label">
                    Output Folder
                    <button class="button__small timer__form--browse" (click)="browse()">Browse</button>
                    <div class="timer__form--browse-text">{{ folderPath || 'No path selected.' }}</div>
                </label>
            </div>
            <div class="timer__form--row">
                <label for="format" class="label timer__form--row-left">
                    Output Format
                    <input id="format" [(ngModel)]="format" type="text" class="timer__form--input" />
                </label>
                <label for="message" class="label">
                    Completion Message
                    <input id="message" [(ngModel)]="completionMessage" type="text" class="timer__form--input" placeholder="Done!" />
                </label>
            </div>
        </div>

        <button class="button--is-green" (click)="save()" [disabled]="saveLoading">{{ saveLoading ? 'Saved!' : 'Save Changes' }}</button>
    </div>
</div>
