<app-topbar></app-topbar>

<div class="timer">
    <div class="timer__container">
        <span class="timer__time">{{ time }}</span>
        <div class="timer-separator"></div>

        <div class="timer__form">
            <div class="timer__form--row">
                <label for="time" class="label timer__form--row-left">
                    Time
                    <input id="time" [(ngModel)]="timeInput" type="text" class="timer__form--input" />
                </label>
                <label for="output" class="label timer__form--row-left">
                    Output Folder
                    <button class="button__small timer__form--browse">Browse</button>
                    <div class="timer__form--browse-text">C:/Documents/Clocky/countdown.txt</div>
                </label>
            </div>
            <div class="timer__form--row">
                <label for="format" class="label">
                    Output Format
                    <input id="format" [(ngModel)]="format" type="text" class="timer__form--input" />
                </label>
                <label for="message" class="label">
                    Completion Message
                    <input id="message" [(ngModel)]="completionMessage" type="text" class="timer__form--input" placeholder="Done!" />
                </label>
            </div>
        </div>

        <button class="button--is-green" (click)="save()" [disabled]="saveLoading">{{ saveLoading ? 'Saved!' : 'Save Changes' }}</button>
    </div>
</div>
