.timer {
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 20vh;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__time {
        font-weight: 500;
        font-size: 10vw;

        &--container {
            display: flex;
            flex-direction: row;
        }
    }

    &__form {
        margin-left: 60vw;
        margin-right: 60vw;
        margin-bottom: 10vh;

        &--row {
            display: flex;
            flex-direction: row;

            &-left {
                margin-right: 1vw;
            }
        }

        &--input {
            margin-bottom: 2vh;
            margin-top: 0.75vh;
        }

        
        &--browse {
            margin-top: 0.75vh;

            &-text {
                font-size: 0.75vw;
                color: $grey;
                margin-top: 1vh;
                position: absolute;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        justify-content: center;

        &--item {
            width: 3vw;
            height: 3vw;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            fill: $white;
            transition: linear 0.1s;

            &-margin {
                margin-bottom: 2vh;
            }

            &--is-play {
                background-color: $success;
                &:hover {
                    background-color: lighten($success, 10%);
                }
            }

            &--is-paused {
                background-color: #958224;
                &:hover {
                    background-color: lighten(#958224, 10%);
                }
            }

            &--is-stop {
                background-color: $danger;
                &:hover {
                    background-color: lighten($danger, 10%);
                }
            }

            &--pause {
                width: 1.0vw;
            }

            &--play {
                width: 1.2vw;
                margin-left: 0.2vw;
            }

            &--stop {
                width: 1.2vw;
            }
        }
    }

    &-separator {
        width: 30vw;
        height: 0.5vh;
        background-color: $primary;
        margin-bottom: 5vh;
    }
}
