.timer {
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 20vh;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__time {
        font-weight: 500;
        font-size: 10vw;

        &--container {
            display: flex;
            flex-direction: row;
        }
    }

    &__form {
        margin-left: 60vw;
        margin-right: 60vw;
        margin-bottom: 10vh;

        &--row {
            display: flex;
            flex-direction: row;

            &-left {
                margin-right: 1vw;
            }
        }

        &--input {
            margin-bottom: 2vh;
            margin-top: 0.75vh;
        }

        
        &--browse {
            margin-top: 0.75vh;

            &-text {
                font-size: 0.75vw;
                color: $grey;
                margin-top: 1vh;
                position: absolute;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        justify-content: center;

        &--item {
            width: 4vw;
            height: 4vh;
            background-color: $success;
            border-radius: 35px;
            //margin-bottom: 2vh;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &-margin {
                margin-bottom: 2vh;
            }

            &--is-paused {
                background-color: #958224;
            }

            &--is-stop {
                background-color: $danger;
            }
        }
    }

    &-separator {
        width: 30vw;
        height: 0.5vh;
        background-color: $primary;
        margin-bottom: 5vh;
    }
}
