button {
    border: none;
    background-color: $primary;
    height: 6vh;
    width: 15vw;
    border-radius: 35px;
    font-weight: 600;
    font-size: 1.1vw;
    transition: linear 0.1s;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: lighten($primary, 10%);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.button {
    &--is-green {
        background-color: $success;
        &:hover {
            background-color: lighten($success, 10%);
        }
        &:disabled {
            background-color: darken($success, 10%);
        }
    }

    &--is-red {
        background-color: $danger;
        &:hover {
            background-color: lighten($danger, 10%);
        }
        &:disabled {
            background-color: darken($danger, 10%);
        }
    }
}